<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      h1 {
        margin-top: 50px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
    <p>URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
      <form method="POST" , action="/url">
        <label>Enter your original URL:</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.url) { %>
        <table>
          <thead>
            <th>S.No</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Visits</th>
          </thead>
          <tbody>
            <%url.forEach((index, url) => {%>
              <tr>
              <td><%= index+1 %></td>
              <td><%= url.ShortID %></td>
              <td><%= url.redirectURL %></td>
              <td><%= url.visitHistory %></td>
            </tr>
            <% })%>
          </tbody>
        </table>
       
      <% } %>
    </div>
  </body>
</html>
